body {
  background-image: url(../img/branches.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

 img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width:350px;
   height:350px;
 }

.center {
  display: flex;
  justify-content: center;
  font-family:sans-serif;
}

.indent {
  text-indent: 3em;
  font-family: cursive;
}

.rainbow {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 2s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 2s infinite;

  /* Standar Syntax */
  animation: rainbow 2s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}

.deliciouso {
  text-decoration: line-through;
}
